{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Upload{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>发文章</h1>
    </div>
    {{ render_form(form) }}
    <a class="btn btn-light float-right" href="{{ url_for('main.index', username=current_user.username) }}">
        返回首页
    </a>

{% endblock %}



{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>

{% endblock %}
