{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    {% include 'user/_header.html' %}
    <div class="row">
        <div class="col-md-12">
            <div class="tip text-center">
                <h3>总分：{{ user.score_acm + user.score_datascience + user.score_web + user.score_hardware }}</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ACM分数</th>
                            <th>数据科学分数</th>
                            <th>前端分数：</th>
                            <th>电设分数：</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>{{ user.score_acm }}</th>
                        <th>{{ user.score_datascience }}</th>
                        <th>{{ user.score_web }}</th>
                        <th>{{ user.score_hardware }}</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
